.container {
  margin-top: 28px;

  .title {
    font-size:24px;
    font-weight: 600px;
    margin-bottom: 20px;
    text-align: center;
  }

  :global {
    .ant-btn-primary {
      width: 310px;
    }
  }

  .otherLogin {
    margin-left: 55px;
  }
}